<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Discounty</title>
    <base href="/" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <header>
            <div>
                <nav>
                    @{
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                </nav>
            </div>
        </header>

        <main role="main">
            @RenderBody()
        </main>

        <footer>
            <div>
                <p>&copy; 2020 - Discounty</p>
            </div>
        </footer>
    </div>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
